

<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<script src="/js/lib/jquery-3.2.1.min.js"></script>
<script src="/semantic/dist/semantic.min.js"></script>

<h1>This is the home page</h1>
